<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>index</title>
	
	<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<body>

{% for greeting in greetings %}
	{% if greeting.author %}
		<b>{{ greeting.author.nickname }}</b> wrote:
	{% else %}
		An anonymous person wrote:
	{% endif %}
	<blockquote>{{ greeting.content|escape }}</blockquote>
{% endfor %}

<form action="/sign" method="post">
	<div><textarea name="content" rows="3" cols="60"></textarea></div>
	<p><input type="submit" value="Sign Guestbook"></p>
</form>

<a href="{{ url }}">{{ url_linktext }}</a>

</body>
</html>
